<div class="uk-container">
    <div class="uk-child-width-1-1 uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-heading">
                    About us
                </h3>
                <div class="uk-container">
                    <p>
                        This plateform was build and perform in case to allow all users to share their idea project.
                        Below, we have services and rooms, where you can foud place to add your project idea. Otherwise to discuss or contact
                        support the project idea.
                    </p>
                </div>
              
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-heading">Services</h3>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-heading">Services</h3>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-heading">Services</h3>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-heading">Services</h3>
                <div>
                    <div class="uk-child-width-1-2 uk-text-center" uk-grid>
                        <div class="uk-animation-toggle" tabindex="0">
                            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">
                                <p class="uk-text-center"><a routerLink="/rooms">Rooms access</a> </p>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" tabindex="0">
                            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">
                                <p class="uk-text-center"><a routerLink="/create_room">Create a room</a></p>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" tabindex="0">
                            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">
                                <p class="uk-text-center"><a href="#">Personal access</a></p>
                            </div>
                        </div>
                        <div class="uk-animation-toggle" tabindex="0">
                            <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up">
                                <p class="uk-text-center"><a href="#">Recents activity</a></p>
                            </div>
                        </div>
                </div>
            </div>
            
        </div>
       
        
       
    </div>
</div>
